/* import arcgis JS css here */
@import "https://js.arcgis.com/4.20/@arcgis/core/assets/esri/themes/light/main.css";

body,
html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* This removes the blue highlight but reduces accessibility, be careful! */
*:focus {
  outline: none !important;
}
